BEARER_TOKEN=
BOT_USERNAME=tweetscc
BOT_USER_ID=
BOT_ACCESS_TOKEN=
CLIENT_ID=
CLIENT_SECRET=
BOT_REFRESH_TOKEN=
POLL_MS=15000
MAX_STAKE=1000
REQUIRE_ACCOUNT=true
CREATORS=nova,mira,rio
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
WALLET_KEY=
ROBINHOOD_RPC_URL=https://rpc.mainnet.chain.robinhood.com
CHAIN_ID=4663
USDC_ADDRESS=0x378F906eAD242F0C3aa9ed45AA07612A2C088030
USDC_DECIMALS=18
ESCROW_ADDRESS=
